{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('register_app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('register_app') }}
{% endblock %}

{% block body %}
    <div class="register">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 text-center">
                <h1>Formulário de Registro</h1>
            </div>
        </div>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-12 text-center">
                    {{ form_row(registrationForm.submit) }}
                </div>
            </div>
            <a class="forgot btn btn-secondary" href={{ path("app_login") }}>Return to login</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
